<div class="container">
    <div class="login">
        <div class="inputs">
            <label for="" #name>Name</label>
            <input type="text" placeholder="Напишите ваше имя">
            <label for="">Login</label>
            <input type="text" placeholder="Напишите свой email" #email>
            <label for="">Password</label>
            <input type="text" placeholder="Пароль" #password>
        </div>
        <div class="buttons">
            <button>Создать аккаунт</button>
        </div>
    </div>
</div>